{% extends "base.html" %}

{% block content %}
<form action="/auth/create", method="post">
	<div class="container">
		<label for="username"><b>Username</b></label>
		<input type="text" name="username" placeholder="Enter Username" required>
		<label for="password"><b>Password</b></label>
		<input type="password" name="password" placeholder="Enter Username" required>
		<label for="key"><b>Key</b></label>
		<input type="text" name="key" placeholder="Enter key" required>
		<button type="submit">Create Account</button>
	</div>
	{% raw xsrf_form_html() %}
</form>
{% end %}
