{% extends "base.html" %}

{% block content %}
<form action="/auth/login", method="post">
	<div class="container">
		<label for="username"><b>Username</b></label>
		<input type="text" name="username" placeholder="Enter Username" required>

		<label for="password"><b>Password</b></label>
		<input type="password" placeholder="Enter password" name="password" required>

		<button type="submit">Login</button>
	</div>
	{% raw xsrf_form_html() %}
</form>
<form action="/auth/create">
	<div class="container">
		<button type="submit">Create new account</button>
	</div>
</form>
{% end %}
